<div class="col s12 m6 l3">
  <div class="card hoverable">
    <div class="card-image">
      <img src="<%= if car.default_image then car.default_image.path end %>" alt="<%= car.year %> <%= car.make %> <%= car.model %>" class="responsive-img">
      <span class="card-title white-text" style="font-size: 1.1em; background-color: rgba(15, 15, 15, 0.6); width: 100%;"><%= car.year %> <%= car.make %> <%= car.model %></span>
    </div>
    <div class="card-content">
      <div class="row" style="font-size: .93em;">
        <div class="col s12">
          <b>Price:</b> <span class="right">$<%= car.price %></span>
        </div>
        <div class="col s12">
          <b>Mileage:</b> <span class="right"><%= car.miles %></span>
        </div>
        <div class="col s12">
          <b>Engine:</b> <span class="right"><%= car.engine %></span>
        </div>
        <div class="col s12">
          <b>Drivetrain:</b> <span class="right"><%= car.drivetrain %></span>
        </div>
        <div class="col s12">
          <b>Transmission:</b> <span class="right"><%= car.transmission %></span>
        </div>
        <div class="col s12">
          <b>Fuel Type:</b> <span class="right"><%= car.fuel_type %></span>
        </div>
      </div>
    </div>
    <div class="card-action center">
      <a href="/car/<%= car.permalink %>" class="btn center waves-effect waves-light white-text red darken-1">More Info!</a>
    </div>
  </div>
</div>
