<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="<%= if car.default_image then car.default_image.path end %>" alt="<%= car.year %> <%= car.make %> <%= car.model %>">
      <span class="card-title white-text" style="background-color: rgba(15, 15, 15, 0.85); width: 100%;"><%= car.year %> <%= car.make %> <%= car.model %></span>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s6 m6">
          <b>Price:</b> $<%= car.price %>
        </div>
        <div class="col s6 m6">
          <b>Mileage:</b> <%= car.miles %>
        </div>
        <div class="col s6 m6">
          <b>Engine:</b> <%= car.engine %>
        </div>
        <div class="col s6 m6">
          <b>Drivetrain:</b> <%= car.drivetrain %>
        </div>
        <div class="col s6 m6">
          <b>Transmission:</b> <%= car.transmission %>
        </div>
        <div class="col s6 m6">
          <b>Fuel Type:</b> <%= car.fuel_type %>
        </div>
        <br>
      </div>
    </div>
    <div class="card-action">
      <a href="/car/<%= car.permalink %>" class="btn center waves-effect waves-light white-text red darken-1">More Info!</a>
      <a href="/contact" class="btn center waves-effect waves-light white-text red darken-1 right">Buy Now!</a>
    </div>
  </div>
</div>
