<!DOCTYPE html>
<html>
	<head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>Quik Auto Sales</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  	<meta name="theme-color" content="#424242">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<nav class="grey darken-4" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="/" class="brand-logo">
          <img class="hide-on-med-and-up" src="/assets/qlogoinvert.png" alt="Quik Auto Sales Logo" style="max-height:54px; padding: .2em;">
          <img class="hide-on-small-only" src="/assets/qlogoinvert.png" alt="Quik Auto Sales Logo" style="max-height: 63px; padding: .2em;">
        </a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/" class="white-text <%= if request.path == '/' then 'menu-active' end %>">Home</a></li>
					<li><a href="/financing" class="white-text <%= if request.path == '/financing' then 'menu-active' end %>">Finance</a></li>
					<li><a href="/inventory" class="white-text <%= if (request.path.index('inventory') || request.path.index('car')) then 'menu-active' end %>">Inventory</a></li>
					<li><a href="/contact" class="white-text <%= if request.path == '/contact' then 'menu-active' end %>">Contact</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li><a href="/" class="black-text <%= if request.path == '/' then 'menu-active' end %>">Home</a></li>
					<li><a href="/financing" class="black-text <%= if request.path == '/financing' then 'menu-active' end %>">Finance</a></li>
					<li><a href="/inventory" class="black-text <%= if (request.path.index('inventory') || request.path.index('car')) then 'menu-active' end %>">Inventory</a></li>
					<li><a href="/contact" class="black-text <%= if request.path == '/contact' then 'menu-active' end %>">Contact</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>
  <!-- end nav bur -->
  <div class="container">
    <%= yield %>
  </div>

  <footer class="page-footer grey darken-4">
  			<div class="container">
  				<div class="row">
  					<div class="col l6 s12">
  						<h5 class="white-text">Quik Auto Sales</h5>
  						<p class="grey-text text-lighten-4">We at Quik Auto Sales strive to provide our customers with the best customer service possible. Our selection of quality pre-owned vehicles includes cars, trucks, sport utilities, and vans for nearly any budget or lifestyle. Stop by for a test drive today! </p>
  					</div>
  					<div class="col l6 s12 center">
  						<h5 class="white-text">Navigation</h5>
  						<ul>
  					<li><a href="/" class="white-text">Home</a></li>
  					<li><a href="/financing" class="white-text">Finance</a></li>
  					<li><a href="/inventory" class="white-text">Inventory</a></li>
  					<li><a href="/contact" class="white-text">Contact</a></li>
  						</ul>
  					</div>
  				</div>
  			</div>
  			<div class="footer-copyright grey darken-3">
  				<div class="container">
  					Powered by <a href="http://wreet.co" >wreetco</a>
  				</div>
  			</div>
  		</footer>

  		<script>
  		    $(document).ready(function(){
  					$('.button-collapse').sideNav();
  				});
  		</script>
  	</body>
  </html>
